Rocket.Libraries.Delta/bin/
Rocket.Libraries.Delta/obj/
Rocket.Libraries.Delta.Tests/bin/
Rocket.Libraries.Delta.Tests/obj/
Rocket.Libraries.Delta/staging-directory/
Rocket.Libraries.Delta/project-definitions/
